html,
body {
  padding: 0;
  margin: 0;
  background-color: #6197de;
}

main {
  height: 400vh;
}


.banner {
  height: 100vh;
  padding-bottom: 250px;
}

.banner-h1 {
  font-family: 'Arima Madurai', sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #f3f393;
  margin-top: 180px;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}

.banner-h2 {
  font-family: 'Nothing You Could Do', sans-serif;
  font-size: 2.3rem;
  text-align: center;
  color: #ffffff;
  margin-top: -75px;
  text-shadow: 0 0 10px #242f61;
}
.nav-icon-div {
  position: absolute; 
  top: 0;
  right: 10px;
  z-index: 100;
}

.nav-icon {
  margin: 5px;
  color: #363874;
}

.nav-icon:hover {
  color: #a6a5d2c4;
}

.scroll-icon {
  color: #3e42a4;
  position: absolute;
  top: 94vh;
  left: 49%;
  z-index: 100;
}

.quote {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: -20px;
}

.author {
  text-align: end;
  margin-top: -20px;
  font-size: 1rem;
}

.quote-icon {
  margin: 0 8px;
}

.skills {
  border-top: 2px solid #fefde5;
  border-bottom: 3px solid #5061a7;
  border-radius: 12px;
  box-shadow: 0 0 13px #3e4497;
  background-image: linear-gradient(#84afe8, #689bde);
  margin-top: 30px;
}

.h1-skills {
  font-family: 'Nothing You Could Do', sans-serif;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 1px #3b4093;
}

.developer-icons-div {
  margin: 30px 0;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.developer-icon {
  font-size: 4.8rem;
  text-shadow: 0 0 8px #242f61;
  transition-duration: 0.3s;
  padding-top: 10px;
}

.developer-icon-name {
  visibility: hidden;
  font-size: 1rem;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
}

.developer-icon:hover {
  color: #35427e;
  padding-top: 0;
  padding-bottom: 10px;
  text-shadow: 0 0 20px #d3f8fb;
  transition-duration: 0.3s;
}
.developer-icon:hover .developer-icon-name {
  visibility: visible;
  font-size: 1rem;
  color: white;
  text-shadow: 0 0 10px #35427e;
}

.projects {
  /* background-color: #3e42a4; */
  margin-top: 40px;
}

.h1-projects {
  font-family: 'Nothing You Could Do', sans-serif;
  font-size: 3rem;
  color: #3b4093;
  text-shadow: 2px 2px 1px #383f8f;
}

/* .project-div {
  width: 500px;
  position: relative;
  border: 1px solid black; */
/* } */

.project-div img {
  position: absolute;
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
} 

.project-img-top:hover {
  opacity: 0;
}



@keyframes glow {
  from {
    text-shadow:
    0 0 5px #242f61, 0 0 10px #242f61,
    0 0 20px #242f61, 0 0 20px #242f61
  }
  to {
    text-shadow:
    0 0 5px #accde3, 0 0 10px #accde3,
    0 0 20px #accde3, 0 0 40px #accde3;
  }
}